@model List<WebApplication2.Models.Product>
<h1> Product</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>
                <a href= "/Product/Details/@item.Id">View</a>
            </td>
        </tr>
    }

</table>
    