<div class="container">

<h2>Angular Pipes Demo</h2>

<p class="date-box">{{ today | date:'fullDate' }}</p>

<h2>📦 Order List</h2>

<div *ngFor="let order of data$ | async" class="order-card">
  <p><b>Order ID:</b> {{ order.id }}</p>
  <p><b>Product:</b> {{ order.productName }}</p>
  <p><b>Price:</b> ₹{{ order.price }}</p>
  <p class="status" [ngClass]="order.status.toLowerCase()">
    {{ order.status }}
  </p>
</div>
<!----Key value pipe---->
<div *ngFor="let item of product | keyvalue" class="card">
  <p>{{ item.key | uppercase }}</p>
  <p [ngClass]="{'highlight': item.key === 'price'}">
    {{ item.value }}
  </p>
</div>
<!---Custom pipe-->
<p class="price-box">{{ product.price | customCurrency }}</p>

</div>