body{
    font-family:'Segoe UI';
    background: linear-gradient(135d eg,#ffe6f0,#e6f7ff);
    height:100 vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    background:white;
    padding:40 px;
    width:360 px;
    text-align:center;
    border-radius:20 px;
    box-shadow:0 10 px 25 px rgba(0,0,0,0.2);
}

h1{
    color:#ff4da6;
    margin-bottom:20px;
}

.label{
    font-weight:bold;
    margin-top:15px;
    color:#444;
}

button{
    margin-top:20px;
    padding:12px 20px;
    border:none;
    border-radius:30px;
    background:#6c63ff;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#574fd6;
    transform:scale(1.05);
}

#originalPrices,#discountedPrices{
    font-size:18px;
    color:#333;
}