body{
    font-family: 'Segoe UI';
    background: linear-gradient(135deg,#ffd6e8,#e6ccff);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    background:white;
    padding:40px;
    width:350px;
    text-align:center;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h1{
    color:#ff4da6;
    margin-bottom:20px;
}

.label{
    font-weight:bold;
    margin-top:15px;
    color:#444;
}

button{
    margin-top:20px;
    padding:12px 20px;
    border:none;
    border-radius:30px;
    background:#ff66b2;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#ff3399;
    transform:scale(1.05);
}

#original,#updated{
    font-size:18px;
    color:#333;
}